body{
    background-color: rgb(16,16,16);
    margin: 0px;
    color:white;
    font-family: "Tahoma", Times, serif;
}

.tracker{
    background-color: rgb(0,0,0);
    position: absolute;
    left: 0px;
    top: 0px;
}

td{
    width: 64px;
    height: 64px;
	background-repeat: no-repeat;
}

.stoops{
    width: 128;
    height: 128;
	background-size: 200% 200%;
}

.lonk{
   width: 64px;
   height: 64px;
}

.corner{
	width: 32px;
	height: 32px;
}

.true{
    opacity: 1;
}

.false{
    opacity: 0.25;
}

.half {
    opacity: 0.70;
}

.mini{
    width: 16;
    height: 16;
    vertical-align: text-bottom;
}

.boss{
    width: 24;
    height: 24;

    background-repeat: no-repeat;
	background-position: center;
	background-size: 75% 75%;

    position: absolute;
    margin-left: -12px;
    margin-top: -12px;

    z-index: 2;
}

.dungeon{
    width: 48;
    height: 48;
	background-size: 100% 100%;

    position: absolute;
    margin-left: -24px;
    margin-top: -24px;
}

#map{
    background-image: url("images/map.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    position: absolute;
    width: 884;
    height: 448;
    left: 456px;
}

span{
    color: white;
    background-color: rgb(0,0,0);
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 16px;    
    bottom: 0px;
}

.chest{
    width: 20;
    height: 20;
	background-size: 100% 100%;

    position: absolute;
    margin-left: -10px;
    margin-top: -10px;
}

.unavailable{
    background-color: rgb(255,0,0);
}

.available{
    background-color: rgb(0,255,0);
}

.possible{
    background-color: rgb(255,255,0);
}

.opened{
    background-color: rgb(127,127,127);
}

.glitched{
	background-color: rgb(50,200,255);
}

.aga{
	background-color: rgb(255,150,0);
}

select {
    position: absolute;
    z-index: 5;
}

#goal_select {
    left: 980px;
}
#mode_select {
    left: 1130px;
}

#options_button {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 15;
}

#options {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(16,16,16);;
    z-index: 10;
    color: white;
    font-size: 18px;
}

.column {
    float: left;
    width: 30%;
    height: 90%;
    padding: 20px 20px;
}

#log-text-area {
    width: 100%;
    height: 100%;
    resize: none;
}

td {
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 3px #000000, 
        -2px 2px 3px #000000, 
        -2px -2px 3px #000000,
        2px -2px 3px #000000,
        2px 0px 3px #000000,
        -2px 0px 3px #000000,
        0px 2px 3px #000000,
        0px -2px 3px #000000;
    cursor: default;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#bossMap0, #bossMap1, #bossMap2, #bossMap3, #bossMap4,
#bossMap5, #bossMap6, #bossMap7, #bossMap8, #bossMap9  {
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-size: 20px;
}